BasedOnStyle: Google
InsertNewlineAtEOF: true
AllowShortBlocksOnASingleLine: Empty
DerivePointerAlignment: false
---
Language: CSharp
ColumnLimit: 100
---
Language: JavaScript
DisableFormat: true
---
Language: Json
DisableFormat: true
