BasedOnStyle: Google
InsertNewlineAtEOF: true
AllowShortBlocksOnASingleLine: Empty
DerivePointerAlignment: false
---
Language: CSharp
ColumnLimit: 100
InsertBraces: true
---
Language: JavaScript
DisableFormat: true
