common --enable_bzlmod
common --enable_platform_specific_config

build:linux --cxxopt=-std=c++20
build:macos --cxxopt=-std=c++20
build:windows --cxxopt=/std:c++20
build:linux --host_cxxopt=-std=c++20
build:macos --host_cxxopt=-std=c++20
build:windows --host_cxxopt=/std:c++20
build:linux --objccopt=-std=c++20
build:macos --objccopt=-std=c++20
build:windows --objccopt=/std:c++20

# This flag is required by Protobuf because it is dropping support for MSVC + Bazel.
# See https://github.com/protocolbuffers/protobuf/issues/20085 for more details and track https://github.com/protocolbuffers/protobuf/pull/22632 for a possible revert.
build:windows --define=protobuf_allow_msvc=true
